.wrapper {
  width: 1150px;
  margin-left: 400px;
  .club-menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    div {
      width: 300px;
    }
  }
  .delete-icon {
    fill: rgba(218, 0, 0, 1);
  }
}
